*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 50px;
	font-family: courier;
	font-weight: bold;
	background-color: white;
	color: #000A5D;
}



h3{
	text-align: center;
	font-size: 60px;
}

a{
	color: #000A5D;
	font-weight: bold;
	text-decoration: none;
}

.icones{
	width: 80px;
	margin: 15px 20px;
}

input{
	display: block;
	width: 80%;
	height: 70px;
	box-sizing: border-box;
	margin: 10px auto;
	font-size: 50px;
}

.form-container{
	margin: 500px auto;
}

.imagem-material{
	width: 100%;
}