*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 50px;
	font-family: courier;
	font-weight: bold;
	background-color: white;
	color: #000A5D;
}

.container{
	margin: 20px auto;
	width: 90%;
}

.session{
	font-size: 70%;
	font-family: Verdana;
	font-weight: bolder;
	background-color: goldenrod;
	display: flex;
}
.dadosUsuarioSession{
	width: 80%;
}
.divFotoSession{
	width: 20%;
}
.fotoSession{
	width: 80%;
	border-radius: 100px;
	border: solid black 10px;
	margin-top: 18px;
}

h3{
	text-align: center;
	font-size: 60px;
}

a{
	color: #000A5D;
	font-weight: bold;
	text-decoration: none;
}

.icones{
	width: 80px;
	margin: 15px 20px;
}

input{
	display: block;
	width: 80%;
	height: 70px;
	box-sizing: border-box;
	margin: 10px auto;
	font-size: 50px;
}

.form-container{
	margin: 500px auto;
}

.imagem-material{
	width: 100%;
}

.filtro{
	width: 50%;
	height: 5%;
	font-size: 100%;
}