*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 50px;
	font-family: courier;
	font-weight: bold;
	background-color: #005163;
	color: #FFA000;
}

.container{
	margin: 20px auto;
	width: 90%;
}

h3{
	text-align: center;
	font-size: 60px;
}

a{
	color: #FFA000;
	font-weight: bold;
	text-decoration: none;
}

.icones{
	width: 80px;
	margin: 15px 20px;
}

input{
	display: block;
	width: 80%;
	height: 70px;
	box-sizing: border-box;
	margin: 10px auto;
	font-size: 50px;
}

.form-container{
	margin: 500px auto;
}