.divFotoSession{
	width: 100%;
	align-content: center;
	flex-direction: column;
}
.fotoSession{
	width: 100%;
}


.imagem-material{
	width: 100%;
}
.tamanho_pedido{
	font-size: 1.3em;
	font-weight: bold;
}